<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Road Toll</title>
</head>
<h1 th:inline="text"> Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!</h1>

<p><a th:href="@{/payments}"> Payments </a></p>
<p><a th:href="@{/routes}"> Routes </a></p>
<p><a th:href="@{/registerClient}"> Register Client </a></p>
<p><a th:href="@{/registerManager}"> Register Manager </a></p>
<br>
<p><a th:href="@{/hello}"> HELLO! </a></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>