<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="FILE_LOG" value="c:/logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yy HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${FILE_LOG}/gps.log</file>
        <encoder>
            <pattern>%d{dd.MM.yy HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>